@import url("https://fonts.googleapis.com/css?family=Poppins:900i");

body {
  background-color: #0c0f14;
}

.App {
  text-align: center;
  font-family: poppins;
}

.App-logo {
  height: 16vmin;
  pointer-events: none;
  position: absolute;
  left: 20px;
  top: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    border: 4px solid rgb(249, 0, 87);
    border-radius: 400px;
  }
}

.App-header {
  background-color: #282c34;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  font-size: 24px;
  text-shadow: 4px 2px 0 #6225e6;
  letter-spacing: 2px;
  word-spacing: 8px;
  backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #6225e6;
}

a {
  color: #fff;
  text-decoration: none;
  padding: 4px 20px;
  margin: 8px;
  background: #f90057;
  border-radius: 8px;
  font-size: 20px;
}

a:hover {
  color: #f90057;
  background: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 16px;
  transform: skewX(-8deg);
}

li:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  /* display: flex; */
  position: fixed;
  top: 20px;
  right: 40px;
  justify-content: center;
}

.cta {
  display: flex;
  padding: 10px 45px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: white;
  background: #6225e6;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #fbc638;
}

.cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}

span {
  transform: skewX(15deg);
}

span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}
